<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <filter>
        <filter-name>dispatcher</filter-name>
        <filter-class>org.javalite.activeweb.RequestDispatcher</filter-class>
        <init-param>
            <param-name>exclusions</param-name>
            <param-value>assets,css,images,js,bower_components</param-value>
        </init-param>
        <init-param>
            <param-name>root_controller</param-name>
            <param-value>home</param-value>
        </init-param>
         <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>dispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
        <security-constraint>
        <display-name>login</display-name>
        <web-resource-collection>
            <web-resource-name>login</web-resource-name>
            <url-pattern>/usuario/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
             <role-name>invitado</role-name>
        </auth-constraint>
    </security-constraint>
    
        <!-- URLs de acceso público (ej. css, js), no requieren login -->
    <security-constraint>
        <display-name>publico</display-name>
        <web-resource-collection>
            <web-resource-name>publico</web-resource-name>
            <url-pattern>/css/*</url-pattern>
            <url-pattern>/js/*</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <filter-mapping>
        <filter-name>dispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
        <!-- configuracion de autenticacion  -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>login</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    
</web-app>

